<!-- <mat-toolbar color="primary">
    <div id="logo">
    <img src="./assets/img.jpg" alt=""  height="50" width="50">
</div>
    <a href="#">Login</a>
    <a href="#">SingUp</a>
</mat-toolbar> -->

<mat-toolbar color="primary">
    <img src="https://api.iconify.design/mdi:yelp.svg?color=white" alt="" height="50" width="50">
    <span>V - MART</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"> -->
      <!-- <mat-icon>favorite</mat-icon> -->
      <a routerLink="login">Login</a>
    <!-- </button> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"> -->
      <!-- <mat-icon>share</mat-icon> -->
      <a routerLink="singup">SingUp</a>
    <!-- </button> -->
  </mat-toolbar>