

.example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar img{
    border-radius: 50%;
    color: white;
    /* background-color: red; */
  }

  .mat-toolbar span{
    margin-left: 15px;
  }
.mat-toolbar a{
    text-decoration: none;
    color: white;
    padding: 10px;
}