<!-- <p>footer works!</p> -->
<div class="main-footer">
    <div class="container">
        <h5>INFORMETION</h5>

        <div>
            <ul>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Newsroom</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Refund and Return</a></li>
                <li><a href="#">Shipping Policy</a></li>
                <li><a href="#">Bulk Order - GST Invoice</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <h5>SUPPORT</h5>
        <div>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Order Tracking</a></li>
                <li><a href="#">All Products</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
            <h5>CONTACT US </h5>
            <div>
                <p>Office Location: Plot no. <br> 417, Udyog Vihar Phase <br>III, Gurgaon, Haryana, <br>India</p>
                <p>shop&#64;bellavitaorganic.com</p>
                <p>+91-9168273019</p>
                <p>Timing: 10:00 AM to 7:00 PM, <br>Monday to Sunday</p>
            </div>
    </div>
    <div class="container">
        <h5>EXCLUSIVE</h5>
        <div>
            <input type="text" placeholder="Enter email here">
            <p>Sign up here to get the latest news, updates and special <br>
                offers delivered to your inbox.</p>
            <p>Plus, you'll be the first to know about our discounts!</p>
        </div>
        <div class="icon">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <!-- <i class="fa-fa-whatsapp"></i> -->
            <i class="fa fa-youtube"></i>
        </div>
    </div>
</div>