<div class="main">
  <!-- <div class="header">
    <div class="head">
      <img src="https://api.iconify.design/mdi:yelp.svg?color=black" alt="" height="50" width="50">
    </div>
    <div class="head2">
      <h2> V - Mart</h2>
    </div>
  </div> -->
  <div class="contain">
    <div class="left">
      <div class="form-field">
        <h1>Welcome back</h1>
        <div class="google-sing">
          <img src="assets/login-material/google.png.png" alt="">
          <a href="">Sign in with google</a>
        </div>
        <div class="underline">
          <p id="or">or</p>
        </div>
        <form (ngSubmit)="loginForm.status !== 'INVALID' && onSubmit()" [formGroup]="loginForm">

          <label for="">Email address / Contact number</label><br>
          <input type="email" formControlName="emailOrmobile" name="emailOrmobile" id="email">
          <div *ngIf="emailOrmobileControl.invalid && (emailOrmobileControl.dirty || emailOrmobileControl.touched)">
            <small class="small" *ngIf="emailOrmobileControl.errors.required">
              Email or mobile number is required.
            </small>
            <small class="small" *ngIf="emailOrmobileControl.errors.invalidMobileOrEmail">
              Enter Valide Email Or Password
            </small>
          </div><br>
          <div class="password-container">
            <label for="">Password</label>
            <input type="password" formControlName="password" name="password" id="password">
            <i class="fa fa-eye-slash " id="icon" onclick="togglePasswordVisibility()"></i>
          </div>
            <div *ngIf="getControl('password')?.errors && getControl('password')?.touched">
              <small class="small2" *ngIf="getControl('password')?.errors?.['required']">Password is Required</small>
              <small class="small2" *ngIf="getControl('password')?.errors?.['minlength']  || getControl('password')?.errors?.['maxlength'] || getControl('password')?.errors?.['pattern']">lengt 8 must lowar upper and symbol</small>
            </div>
          <input id="btn" value="Log in" type="submit" [disabled]="loginForm.status === 'INVALID'"><br>
          <p id="forgot-pass"><a href="#">Forgot your password?</a></p>
          <p class="singup-now">New For V - Mart /<a href="singup"> Sing-Up Now</a></p>
        </form>
      </div>
    </div>
    <div class="right">
      <img src="assets/login-material/image 1.png" alt="">
    </div>
  </div>
</div>
