
<div class="login-page">
  <!-- <app-header></app-header> -->
  <div class="img-part">
    <!-- <img src="login.jpg.jpeg" alt="" srcset=""> -->
    
  </div>
  <div class="main-login" >
    <mat-card>
        <h1>Login</h1>
        <form action="">
        <mat-form-field>
            <input matInput placeholder="email" type="email">
            <!-- <mat-icon id="icon1" aria-hidden="false" aria-label="Example home icon" fontIcon="">email</mat-icon> -->
            <input matInput placeholder="Password" type="password">
            <!-- <mat-icon id="icon2" aria-hidden="false" aria-label="Example home icon" fontIcon="" >visibility_off</mat-icon> -->
            <small><a href="#">forget password?</a></small>
            <button mat-stroked-button>Login</button>
            <p>Don't have account?<a href="#"> singUp</a></p>
          </mat-form-field>
        </form>
      </mat-card>
    </div>
</div>






































































<!-- <div class="main-login" >
<mat-card>
    <h1>Login</h1>
    <form action="">
    <mat-form-field>
        <input matInput placeholder="email" type="email">
        <input matInput placeholder="Password" type="password">
        <button mat-stroked-button>Login</button>
      </mat-form-field>
    </form>
  </mat-card>
</div> -->