@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');


.main {
    overflow: hidden;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header {
    height: 10%;
    width: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 100px;
    /* -webkit-box-shadow: -3px 1px 5px 0px rgba(176,176,176,1);
    -moz-box-shadow: -3px 1px 5px 0px rgba(176,176,176,1); */
    /* box-shadow: -2px 0px 2px 0px rgba(176,176,176,1) */
}

.header h2 {
    margin-left: 20px;
}

.contain {
    display: flex;
    height: 90%;
    width: 100%;

}

.left {

    display: flex;
    justify-content: center;
    align-items: center;


    width: 50%;

}

.form-field {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;

    border: none;

    -webkit-box-shadow: -3px 1px 5px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: -3px 1px 5px 0px rgba(176, 176, 176, 1);
    box-shadow: -3px 1px 5px 0px rgba(176, 176, 176, 1)
}

.form-field h1 {
    color: #000;
    margin: 30px;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    font-weight: bolder;
}


.google-sing {

    border: 1px solid #DCDCDC;
    display: flex;

    height: 30px;

    font-size: 9px;
    padding: 5px 48px 5px 8px;
}

.google-sing img {
    height: 20px;
    width: 20px;

}

.google-sing a {
    margin: 0px 10px 0px 40px;
    color: black;

}

.form-field a {
    text-decoration: none;
    font-size: 12px;
    color: #000;
}

.form-field #or {

    display: flex;

    margin-top: 13px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 13px;
    background-color: white;

}

.underline {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 1px;
    margin: 30px 0px 20px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #E7E7E7;
}

#forgot-pass a {
    color: #05F;
    margin-left: 50px;
}

.singup-now{
    margin-left: 20px;
}

.singup-now a{
    color: #05F;
}

.form-field form {
    padding: 10px;
    font-size: 13px;

}


.form-field form input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 240px;
    height: 30px;

    padding: 3px 69.281px 1px 18px;

    outline: none;
    border: 1px solid #DCDCDC;


}

/* For modern browsers */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

.password-container {
    position: relative;
}

/* For other browsers */
input[type="password"]::-webkit-password-slash {
    display: none !important;
}

#email {
    padding-right: 30px;
}

#password {
    padding-right: 30px;
}

.small {
    color: red;
}

.small2 {
    color: red;
}



#icon{
    position: absolute;
    top: 70%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;

}

/* .icon1{
    position: absolute;
    top: 70%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
} */

.form-field #btn {
    margin-top: 30px;

    outline: none;
    border: 1px solid #05F;

    padding: 3px 69.281px 1px 18px;
    width: 240px;
    height: 30px;
    text-align: center;
    background-color: #05F;
    color: white;
    padding-left: 75px;
}


.right {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.right img {

    height: 100%;
    width: 100vw;
}