*{
    
    /* border: 1px solid red; */
}

.main{
 display: flex;
 flex-direction: column;
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
   /* background-color: wheat; */
   /* text-align: center; */
    height: 100%;
    width: 50%;
}

.form-field{
    /* background-color: white; */
    padding: 40px 25px 40px 25px;
    /* width: 936px;
height: 900px; */
   
}

.form-field p{
    margin-bottom: 90px;
}

.form-field p a{
    text-decoration: none;
}

.form-field input{
    /* padding: 3px 30px; */
    width: 300px;
    outline: none;
    border: none;
    /* background-color: #9BA1AD; */
    border-bottom: 1px solid #9BA1AD;
}

.form-field label{
    color:  #9BA1AD;
    margin-top: 20px;
}

.form-field #btn{
    margin-top: 20px;
    padding: 3px 97px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

.right{
    /* background-color: orangered; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}

.img-field{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.img-field img{
    height: 100%;
    width: 100%;
}