
<div class="main">
  <div class="container">
  <div class="left">
    <div class="form-field">
      <h4>Create an account with V - Mart</h4>
      <p>Already have an account? <a href="">Sing in</a></p>
      <form action="">
        <label for="">Username*</label><br>
        <input type="text" name="username"><br>
        <label for="">Email*</label><br>
        <input type="email" name="email"><br>
        <label for="">Mobile No*</label><br>
        <input type="number" name="mobile"><br>
        <label for="">Password*</label><br>
        <input type="password" name="password"><br>
        <label for="">Confirm Password*</label><br>
        <input type="password" name="confirm-password"><br>
        <input type="submit" value="sing in" id="btn">
      </form>
    </div>
  </div>
  <div class="right">
    <div class="img-field">
      <img src="image 2.png" alt="">
    </div>
  </div>
</div>
</div>