*{
    /* border: 1px solid red; */
}
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap'); */

.main-home{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #5F9BFF;
    /* background-color: #EFF2F7; */
}

.page-1{
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar{
    text-align: center;
    width: 10%;
    padding-top: 20px;
    margin-left: 10px;
    background-color: white;
    
}

.side-field-1{
    display: flex;
    flex-direction: column;
}

.side-field-1 img{
    height: 30px;
    width: 30px;
}

.side-field-1 a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding: 10px 0px 10px 0px ;
}


.navbar-main{
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
}

.navbar nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar nav #logo{
    margin-left: 30px;
    width: 180px;
}
.navbar nav input{
    display: flex;
    width: 250px;
    height: 30px;
    padding: 5px 30px 5px 30px;
    border-radius: 30px;
    margin-left: -20px;
    border: 0;
    outline: none;
    border: 1px solid grey;
}

::placeholder{
    font-size: 13px;
}

.navbar nav select{
    border: none;
    margin: 0px -20px 0px -20px;
    background-color: transparent;
}


.navbar nav ul{
    display: flex;
    margin-top: 20px;
    padding: 0;
}

.navbar nav ul li{
    list-style: none;
    margin: 0px 20px;
}

.navbar nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.navbar nav #man-logo {
        width: 56px;
        height: 56px;
        border-radius: 100%;
        margin-right: 20px;
        margin-top: 5px;
      }

.main-content{
    display: flex;
    width: 100%;
}   

.content{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:300px;
   padding: 10px;
    margin: 10px;
}

.content a img{
    height: 31px;
    width: 31px;
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

}

.content ul li{
    list-style: none;
    display: flex;

}

.content ul li a{
    text-decoration: none;
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
   font-size: 15px;
   padding: 10px;
   color: black;
}

.content2{
    display: grid;
    grid-gap: 10px;
}

.lapi{
    padding: 10px;
}

.lapi a img{
    /* display: flex; */
    margin-top: 1px;
    height: 270px;
    width:700px;
}

.box{
    display: flex;
    grid-gap: 5px;
    padding: 10px;
}

.box1{
    background-color: white;
    padding: 30px;
    width: 170px;
}

.box1 a img{
    /* height:150px; */
    width: 120px;
}

.box2{
    background-color:white;
    padding: 30px;
    width: 170px;
}

.box2 a img{
    /* height:150px; */
    width: 120px;
}

.box3{
    background-color: white;
    padding: 30px;
    width: 170px;
}

.box3 a img{
    /* height:150px; */
    width: 120px;
}

.content3{
    padding: 10px;
}

.box4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    height: 250px;
    width: 228px;
}

.box4 #p-pink{
font-size: 13px;
margin: 0px 0px 20px 0px ;
color: rgb(255, 139, 158);
}

.box4 #box4-p{
    font-size: 14px;
    
}


.box4 button{
    padding: 2px 10px;
    font-size: 13px;
    border: none;
    outline: none;
    color: white;
    background-color: black;
    border-radius: 15px;
    margin-top: 20px;
}

.content3 h6{
    margin-left: 10px;
    margin-top: 10px;
}

.box5{
    margin-top: 35px;
}

.box5 img{
    height: 220px;
    width: 228px;
}


.line{
   
    border-top: 2px solid grey;
    margin-top: 30px;
    margin-left: 10px;
}

.content4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
}

.content4 p{
    font-weight: bold;
}

.content4 p span{
    padding: 0px 10px;
    color: gray;
}
.content4 p a{
    text-decoration: none;
    color: red;
}

#view-deals{
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
}

.content5{
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.card-1{
    background-color: white;
    text-align: center;
    height: 300px;
    width: 217px;
}

.card-1 .cashback{
    color: #FF9900;
    margin-top: 10px;
}

.amount{
    display: flex;
    justify-content: space-around;
}

.line-dashed{
    text-decoration:line-through;
    color: gray;
}

.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.logo-img{
    width: 79px;
    height: 32px;
}

.big-img{
    margin-top: 20px;
    width: 106px;
    height: 106px;

}

.btn-1{
    padding: 2px 15px;
    font-size: 13px;
    border: none;
    outline: none;
    color: white;
    background-color: #5F9BFF;
    border-radius: 15px;
    margin-bottom: 10px;
}

.line-2{
    width: auto;
    border-top: 2px solid grey;
    margin: 30px 50px 30px 10px;
}

.page-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.page-container{
    margin: 30px 50px 30px 50px;
    background-color: white;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.left-content{
   padding: 50px;
}

.icon-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
}

.icon img{
    width: 65px;
    height: 65px;
}

#para{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.page-container .para-line{
    border-top: 1.5px solid #FF2C2C;
    margin: 30px 550px 30px 550px;
}

.right-content{
    padding: 50px;
    justify-content: center;
 }

 .footer-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 50px 30px 50px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 0px;

 }

 .footer-1 img{
    height: 80px;
    width: 80px;
 }

 .footer-1 p{
    font-weight: bold;
 }

 .footer-1 .joid-btn{
    padding: 6px 20px;
    border: 0;
    outline: none;
    background-color: #ABEEFD;
    border-radius: 50px;
    font-size: small;
 }

 .page-3{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
 }

 .footer{
    display: flex;
    width: 100%;
    gap: 600px;
 }

 .left-foot{
    width: 50%;
 }

 .links a{
    font-weight: bolder;
    font-size: 15px;
    text-decoration: none;
    color: black;
 }

 .followUs{
    margin-top: 30px;
 }

 .logos img{
    height: 25px;
    width: 25px;
    margin-left: 5px;
    background-color: cyan;
    border: 1px solid gray;
    border-radius: 50px;
    display: inline-flex;
 }

 .connectWithUs .mail a{
    margin-left: 10px;
    font-weight: bold;
 }

 .connectWithUs .phone{
    margin-top: 20px;
    font-weight: bold;
 }

 .connectWithUs .phone a{
    margin-left: 8px;
 }

 .connectWithUs img{
    height: 20px;
    width: 20px;
 }

 .connectWithUs a{
    gap: 20px;
    text-decoration: none;
    color: black;
 }


 .right-foot{
    width: 50%;
 }


 /* .carousel {
    transform: rotate(-90deg) translateY(-100%);
    width: 100vh; 
    height: 100vw;
  }
  
  .carousel .slick-slide {
    transform: rotate(90deg) translateY(100%) !important;
  } */

  .pagination {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: #fff;
  }
  