<div class="main-home">
    <div class="home">
    <div class="sidebar">
        <div class="side-field-1">
            <a href=""><img src="https://api.iconify.design/ep:expand.svg" alt=""></a>
            <a href="">Best Deals</a>
        </div>
        <div class="side-field-1">
            <a href=""><img src="assets/home-material/icon2.png" alt=""></a>
            <a href="">Others</a>
        </div>
        <div class="side-field-1">
            <a href=""><img src="assets/home-material/icon3.png" alt=""></a>
            <a href="">Kitchen</a>
        </div>
        <div class="side-field-1">
            <a href=""><img src="assets/home-material/icon4.png" alt=""></a>
            <a href="">Home Appliances</a>
        </div>
        <div class="side-field-1">
            <a href=""><img src="assets/home-material/icon5.png" alt=""></a>
            <a href="">Home & Kitchen</a>
        </div>
        <div class="side-field-1">
            <a href=""><img src="assets/home-material/icon6.png" alt=""></a>
            <a href="">Baby & Kids</a>
        </div>
        <div class="side-field-1">
            <a href=""><img src="assets/home-material/icon7.png" alt=""></a>
            <a href="">Watches</a>
        </div>
    </div>
    <div class="navbar-main">
    <div class="navbar">
        <nav>
            <img src="assets/home-material/home-logo.png" alt="" id="logo">
            <input type="text" placeholder="Search Store">
            <select name="" id="" >
                <option value="">offers</option>
                <option value="">home</option>
                <option value="">about</option>
                <option value="">contact</option>
            </select>
            <select name="" id="" >
                <option value="">Expore</option>
                <option value="">home</option>
                <option value="">about</option>
                <option value="">contact</option>
            </select>
            <ul>
                <li><a href="singup">Sing In</a></li>
                <li><a href="#">Join Us</a></li>
            </ul>
            <img src="assets/home-material/man-logo.png" alt="" id="man-logo">
        </nav>
    </div>
        <div class="main-content">
        <div class="content">
            <p>Handpicked Coupon Categories</p>
            <ul>
                <li>
                    <a href="#"><img src="assets\home-material\cloth-icon.png" alt=""></a><a href="#">Clothing</a>
                </li>
                <li>
                    <a href="#"><img src="assets/home-material/shose-icon.png" alt=""></a><a href="#">Shose</a>
                </li>
                <li>
                    <a href="#"><img src="assets/home-material/gift-icon.png" alt=""></a><a href="#">Gifts & Flowers</a>
                </li>
                <li>
                    <a href="#"><img src="assets/home-material/health-icon.png" alt=""></a><a href="#">Health & Beauty</a>
                </li>
                <li>
                    <a href="#"><img src="assets/home-material/bag-icon.png" alt=""></a><a href="#">Accessories & Bags</a>
                </li>
                <li>
                    <a href="#"><img src="assets/home-material/homeware-icon.png" alt=""></a><a href="#">Homeware</a>
                </li>
                <li>
                    <a href="#"><img src="assets/home-material/baby-icon.png" alt=""></a><a href="#">Baby & Kids Products</a>
                </li>
                <li>
                    <a href="#"><img src="assets/home-material/tour-icon.png" alt=""></a><a href="#">Tours & Travels</a>
                </li>
            </ul>
        </div>
        <div class="content2">
            <div class="lapi">
                <a href=""><img src="assets/home-material/lapi-img.png" alt=""></a>
            </div>
            <div class="box">
            <div class="box1">
                <a href=""><img src="assets/home-material/shose-img.png" alt=""></a>
            </div>
            <div class="box2">
                <a href=""><img src="assets/home-material/bag-img.png" alt=""></a>
            </div>
            <div class="box3">
                <a href=""><img src="assets/home-material/bottle-img.png" alt=""></a>
            </div>

        </div>
        </div>
        <div class="content3">
            <div class="box4">
                <p id="p-pink">Offer of the Day</p>
                <p id="box4-p">80% Off on Sundays <br>
                flat 6.4% Cashback <br>
                VISIT <br>
                MERCHANTCODE</p>
                <button>Get Discount</button>
            </div>
            <h6>Sugggestion for you</h6>
            <div class="box5">
                <img src="assets/home-material/cashback-img.png" alt="">
            </div>
        </div>
    </div>
    <div class="line">
    </div>
    <div class="content4">
        <p>Deals of the Day <span>|</span> <a href="">19 : 38 : 10 Left</a></p>
        <a href="" id="view-deals">View All Deals</a>
    </div>
    <div class="content5">
        <div class="card-1">
            <div class="img">
                <img class="logo-img" src="assets/home-material/card1.png" alt="">
                <img class="big-img" src="assets/home-material/card1-1.png" alt="">
            </div>
            <p class="cashback">Upto 8% Cashback</p>
            <div class="amount">
                <p class="line-dashed">$2,489.00</p>
                <p>$1,947.00</p>
            </div>
            <div>
                <button class="btn-1">Shop Now</button>
            </div>
            
        </div>
        <div class="card-1">
            <div class="img">
            <img class="logo-img" src="assets/home-material/card2.png" alt="">
            <img class="big-img" src="assets/home-material/card2-2.png" alt="">
        </div>
            <p class="cashback">Upto 80% Cashback</p>
            <div class="amount">
                <p class="line-dashed">$300.00</p>
                <p>$294.00</p>
            </div>
            <div>
                <button class="btn-1">Shop Now</button>
            </div>
        </div>
        <div class="card-1">
            <div class="img">
                <img class="logo-img" src="assets/home-material/card3.png" alt="">
                <img class="big-img" src="assets/home-material/card3-3.png" alt="">
            </div>
            <p class="cashback">Upto 36.5% Cashback</p>
            <div class="amount">
                <p class="line-dashed">$7,000.00</p>
                <p>$4,799.00</p> 
            </div>
            <div>
                <button class="btn-1">Shop Now</button>
            </div>
        </div>
        <div class="card-1">
            <div class="img">
                <img class="logo-img" src="assets/home-material/card4.png" alt="">
                <img class="big-img" src="assets/home-material/card4-4.png" alt="">
            </div>
            <p class="cashback">Upto 8% Cashback</p>
            <div class="amount">
                <p class="line-dashed">$2,489.00</p>
                <p>$1,947.00</p>
            </div>
            <div>
                <button class="btn-1">Shop Now</button>
            </div>
        </div>
        <div class="card-1">
            <div class="img">
                <img class="logo-img" src="assets/home-material/card1.png" alt="">
                <img class="big-img" src="assets/home-material/card5-5.png" alt="">
            </div>
            <p class="cashback">Upto 80% Cashback</p>
            <div class="amount">
                <p class="line-dashed">$25,382.00</p>
                <p>$1,947.00</p>
            </div>
            <div>
                <button class="btn-1">Shop Now</button>
            </div>
        </div>
    </div>
</div>
</div>
<div class="line-2">
</div>
</div>